<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Campus Reads <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-controller="ThongKe" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Thống kê</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    @*<div class="sidebar-heading">
    Interface
    </div>*@

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            @*<i class="fas fa-fw fa-cog"></i>*@
            <span>Quản lý nhập sách</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" asp-controller="SachAdmin" asp-action="Index1">Quản lý sách</a>
                @*<a class="collapse-item" asp-controller="PhieuMuonAdmin" asp-action="Create">Nhập sách</a>*@
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            @*<i class="fas fa-fw fa-cog"></i>*@
            <span>Quản lý thủ thư</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" asp-controller="QlNguoiDung" asp-action="Index1">Danh sách thủ thư</a>
                <a class="collapse-item" asp-controller="QlNguoiDung" asp-action="Create1">Tạo tài khoản thủ thư</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            @*<i class="fas fa-fw fa-cog"></i>*@
            <span>Quản lý danh mục</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" asp-controller="QlTheLoai" asp-action="Index">Danh sách danh mục</a>
                <a class="collapse-item" asp-controller="QlTheLoai" asp-action="Create">Thêm danh mục</a>
            </div>
        </div>
    </li>
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            @*<i class="fas fa-fw fa-cog"></i>*@
            <span>Quản lý nhà xuất bản</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" asp-controller="QlNhaXuatBan" asp-action="Index">Danh sách nhà xuất bản</a>
                <a class="collapse-item" asp-controller="QlNhaXuatBan" asp-action="Create">Thêm nhà xuất bản</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            @*<i class="fas fa-fw fa-cog"></i>*@
            <span>Quản lý tác giả</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" asp-controller="QlTacGia" asp-action="Index">Danh sách tác giả</a>
                <a class="collapse-item" asp-controller="QlTacGia" asp-action="Create">Thêm tác giả</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            @*<i class="fas fa-fw fa-cog"></i>*@
            <span>Người Mượn</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" asp-controller="QlNguoiMuon" asp-action="Index">Danh sách người mượn</a>
                <a class="collapse-item" asp-controller="QlNguoiMuon" asp-action="Create">Tạo tài khoản người mượn</a>
            </div>
        </div>
    </li>

  

    <li class="nav-item">
        <a asp-controller="Home" asp-action="ChangePassword1">
            <span>Đổi mật khẩu</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Logout">
            <span>Đăng xuất</span>
        </a>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    @*<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
    aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Utilities</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
    data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Custom Utilities:</h6>
    <a class="collapse-item"  asp-controller="SachAdmin" asp-action="Index">Colors</a>
    <a class="collapse-item"  asp-controller="QlNguoiDung" asp-action="Index">Borders</a>
    <a class="collapse-item" asp-controller="QlNguoiDung" asp-action="Create">Animations</a>
    <a class="collapse-item" asp-controller="QlNguoiMuon" asp-action="Index">Other</a>
    </div>
    </div>
    </li>
    *@
    @*    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
    aria-expanded="true" aria-controls="collapsePages">
    <i class="fas fa-fw fa-folder"></i>
    <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Login Screens:</h6>
    <a class="collapse-item" href="login.html">Login</a>
    <a class="collapse-item" href="regjster.html">Regjster</a>
    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
    <div class="collapse-divider"></div>
    <h6 class="collapse-header">Other Pages:</h6>
    <a class="collapse-item" href="404.html">404 Page</a>
    <a class="collapse-item" href="blank.html">Blank Page</a>
    </div>
    </div>
    </li>*@

    @*  <!-- Nav Item - Charts -->
    <li class="nav-item">
    <a class="nav-link" href="charts.html">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Charts</span>
    </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
    <a class="nav-link" href="tables.html">
    <i class="fas fa-fw fa-table"></i>
    <span>Tables</span>
    </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    *@
    @*    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
    <img class="sidebar-card-illustration mb-2" src="../Admin/img/undraw_rocket.svg" alt="...">
    <p class="text-center mb-2"><strong>SB Admin Pro</strong> js packed with premium features, components, and more!</p>
    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>*@

</ul>