@model DATN_LiBrary.Models.NguoiDung
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/LayoutIndexAdmin.cshtml";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cập nhật người dùng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row">
    <div class="col-md-4">
        <form asp-controller="QlNguoiDung" asp-action="Edit" asp-route-id="@Model.Manguoidung" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manguoidung" class="control-label"></label>
                <input asp-for="Manguoidung" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
                            <div class="form-group">
                                <label asp-for="Gioitinh" class="control-label"></label>
                                <select asp-for="Gioitinh" class="form-control">
                                    @if (Model.Gioitinh == 1)
                                    {
                                        <option value="1" selected>Nam</option>
                                        <option value="0">Nữ</option>
                                    }
                                    else
                                    {
                                        <option value="1">Nam</option>
                                        <option value="0" selected>Nữ</option>
                                    }
                                </select>
                                <span asp-validation-for="Gioitinh" class="text-danger"></span>
                            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matkhau" class="control-label"></label>
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodienthoai" class="control-label"></label>
                <input asp-for="Sodienthoai" class="form-control" />
                <span asp-validation-for="Sodienthoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
                            <div class="form-group">
                                <label asp-for="Trangthai" class="control-label"></label>
                                <input asp-for="Trangthai" class="form-control" />
                                <span asp-validation-for="Trangthai" class="text-danger"></span>
                            </div>
                <div class="row mt-2">
                   <div class="col-lg-12 text-end">
                       <button type="submit" class="btn btn-primary" >Lưu</button>
                   </div>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Manguoidung">Back to Details</a>
</div>

            </div>
        </div>
    </div>
</div>

