@model DATN_LiBrary.Models.TacGium
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h1>Xác nhận xóa</h1>

    <div>
        <h4>Bạn có chắc chắn muốn xóa tác giả này không?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Mã Tác Giả:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mtg)
            </dd>
            <dt class="col-sm-2">
                Tên Tác Giả:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ttg)
            </dd>
        </dl>
        <form asp-controller="QlTacGia" asp-action="DeleteConfirmed" asp-route-id="@Model.Mtg" method="post">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Mtg" />
                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>
