@model List<TacGium>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách tác giả</h6>

            <a href="@Url.Action("Create", "QlTacGia")" class="btn btn-primary">Thêm mới</a>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã tác giả</th>
                            <th>Tên tác giả</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var tacGia in Model)
                        {
                            <tr>
                                <td>@tacGia.Mtg</td>
                                <td>@tacGia.Ttg</td>
                                <td>
                                    <a asp-controller="QlTacGia" asp-action="Delete" asp-route-id="@tacGia.Mtg">
                                        <i class="fas fa-trash-alt">
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>

</div>

